/yorubaname-dashboard.iml
/ydictionary-admin.iml
/app/scripts/app/config.js
bower_components
node_modules
/.idea
/dist
.tmp
.sass-cache/
*.sublime-*
.vscode/

# OS files
.DS_Store
Thumbs.db

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*