<div class="row">
    <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Update Details for {{user.email}}</span></div>
    </div>
</div>

<form class="update-user-form" name="form" user-form>

<div class="row">
    <div class="col-lg-6">

        <div class="form-group">
            <label for="user_username">Change Username</label>
            <input type="text" id="user_username" class="form-control" ng-model="user.username">
        </div>

        <div class="form-group">
            <label for="user_password">Change Password</label>
            <input type="password" id="user_password" class="form-control" ng-model="user.password">
        </div>
        
        <div class="form-group">
            <label>Priviledges</label>
            <div class="radio">
                <label>
                    <input name="roles" ng-model="role" type="radio" value="ROLE_BASIC_LEXICOGRAPHER" ng-checked="role_is('ROLE_BASIC_LEXICOGRAPHER')">
                    Basic Lexicographer
                </label>
            </div>
            <div class="radio">
                <label>
                    <input name="roles" ng-model="role" type="radio" value="ROLE_PRO_LEXICOGRAPHER" ng-checked="role_is('ROLE_PRO_LEXICOGRAPHER')">
                    Pro Lexicographer
                </label>
            </div>
            <div class="radio">
                <label>
                    <input name="roles" ng-model="role" type="radio" value="ROLE_ADMIN" ng-checked="role_is('ROLE_ADMIN')">
                    Admin
                </label>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <hr>
        <button type="submit" ng-click="submit()" ng-disabled="form.$invalid || !form.$dirty" class="btn btn-lg btn-success">Update Account</button>
        <button class="btn btn-link pull-right" ng-hide="user.id == logged_in_user.id || !isAdmin" ng-click="delete(user)">Delete Account</button>
    </div>
</div>

</form>