<div class="row">
    <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Add A User</span></div>
    </div>
</div>

<form class="create-user-form" name="form" user-form>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="user_username" class="required">Username</label>
            <input type="text" id="user_username" class="form-control" ng-model="user.username" required>
        </div>

        <div class="form-group">
            <label for="user_email" class="required">Email</label>
            <input type="text" id="user_email" class="form-control" ng-model="user.email" required>
        </div>

        <div class="form-group">
            <label for="user_password" class="required">Password</label>
            <input type="password" id="user_password" class="form-control" ng-model="user.password" required>
        </div>
        
        <div class="form-group">
            <label class="required">Priviledges</label>
            <div class="checkbox">
                <label>
                    <input name="roles" ng-model="roles.BASIC_LEXICOGRAPHER" type="checkbox" ng-true-value="'ROLE_BASIC_LEXICOGRAPHER'">
                    Basic Lexicographer
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="roles" ng-model="roles.PRO_LEXICOGRAPHER" type="checkbox" ng-true-value="'ROLE_PRO_LEXICOGRAPHER'">
                    Pro Lexicographer
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="roles" ng-model="roles.ADMIN" type="checkbox" ng-true-value="'ROLE_ADMIN'">
                    Admin
                </label>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <hr>
        <button type="submit" ng-click="submit()" ng-disabled="form.$invalid || !form.$dirty" class="btn btn-lg btn-success">Create Account</button>
    </div>
</div>

</form>