<div class="row">

    <div class="col-sm-8">
        <a class="btn btn-sm btn-info" ui-sref="auth.names.add_entries">Add Name Entry</a>
        <div class="btn-group btn-sm">
            <!--a ui-sref="auth.names.list_entries({status:'all'})" class="btn btn-sm btn-default" ng-class="status == 'all' ? 'btn-primary' : ''">All Names</a-->
            <a ui-sref="auth.names.list_entries({status:'published'})" class="btn btn-sm btn-default" ng-class="status == 'published' ? 'btn-primary' : ''">Published Names</a>
            <a ui-sref="auth.names.list_entries({status:'modified'})" class="btn btn-sm btn-default" ng-class="status == 'modified' ? 'btn-primary' : ''" ng-show="isAdmin">Modified Names</a>
            <a ui-sref="auth.names.list_entries({status:'unpublished'})" class="btn btn-sm btn-default" ng-class="status == 'unpublished' ? 'btn-primary' : ''">Unpublished Names</a>
            <a ui-sref="auth.names.list_entries({status:'suggested'})" class="btn btn-sm btn-default" ng-class="status == 'suggested' ? 'btn-primary' : ''">Suggested Names</a>
        </div>
    </div>

    <div class="col-sm-3">
        <input ng-model="search" type="text" class="form-control input-sm" placeholder="Type a name here to quickly filter the list">
        <span class="help-block">Filter</span>
    </div>
    
    <div class="col-sm-1">
        <a class="btn btn-default btn-sm" ng-click="clearFilters()">Clear</a>
    </div>

</div>

<div class="row">

    <div class="col-md-12" ng-if="status != 'suggested'">
        <div class="well well-sm text-center" ng-show="!namesList.length">
            <h3 class="text-muted">Not an entry here, yet!</h3>
            <p class="lead">How about you start by adding a name?</p>
            <a class="btn btn-md btn-info" ui-sref="auth.names.add_entries">Add Name Entry</a>
        </div>
        <table class="table table-yuk2" id="names_table" ng-show="namesList.length">
            <thead>
                <tr>
                    <th ng-hide="isBasic"><select-all-checkbox checkboxes="namesList"></select-all-checkbox></th> 
                    <th ng-click="sort('name')">Name <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                    <th>Syllables</th>
                    <th>Geolocation</th>
                    <th>Status</th>
                    <th>Submitted By</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="entry in namesList|orderBy:sortKey:reverse|filter:search|itemsPerPage:count" total-items="namesListItems" current-page="pagination.current" ng-class="entry.isSelected ? 'bg-info' : '' ">
                    <td ng-hide="isBasic"><input type="checkbox" ng-model="entry.isSelected"></td>
                    <td><a ui-sref="auth.names.edit_entries({entry:entry.name})"><strong>{{entry.name}}</strong></a></td>
                    <td>{{entry.syllables}}</td>
                    <td>{{entry.geoLocation.place}}</td>
                    <td ng-show="isAdmin || isLexicographer"><a class="btn btn-xs" ng-class="entry.indexed ? 'btn-default' : 'btn-success'" ng-click="indexName(entry)">{{entry.indexed ? 'Unpublish' : 'Publish'}}</a> </td>
                    <td ng-show="isBasic">{{entry.indexed ? 'Published' : 'Pending'}} <a class="btn btn-xs btn-warning" ng-show="isAdmin && entry.status == 'MODIFIED'" ng-click="reIndexName(entry)">Re-Publish</a></td>
                    <td>{{entry.submittedBy}}</td>
                    <td>{{entry.createdAt|toDateString}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr ng-hide="!namesList.length || isBasic">
                    <td colspan="2"><select-all-checkbox checkboxes="namesList"></select-all-checkbox>  Select all names</td>
                    <td colspan="5">Show <select ng-model="count" ng-options="n for n in [ 10, 20, 50, 100, 250, 500 ]" ng-change="fetch(pagination.current, count)"></select> names</td>
                </tr>
                <tr>
                    <td colspan="7">
                        <dir-pagination-controls
                            max-size="12"
                            direction-links="true"
                            boundary-links="true" on-page-change="fetch(newPageNumber, count)">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>

        <a ng-show="namesList.length && status != 'published' && isAdmin || isLexicographer" ng-click="indexNames('add')" class="btn btn-success btn-sm">Publish Selected</a>
        <a ng-show="namesList.length && status != 'unpublished' && isAdmin || isLexicographer" ng-click="indexNames('remove')" class="btn btn-default btn-sm">Unpublish Selected</a>
    </div>

    <div class="col-md-12" ng-if="status == 'suggested'">
        <div class="well well-sm text-center" ng-show="!namesList.length">
            <h3 class="text-muted">Not an entry here, now!</h3>
            <p class="lead">Great! It seems you've processed all suggested names. Enjoy your day!</p>
        </div>

        <table class="table table-yuk2" id="names_table" ng-show="namesList.length">
            <thead>
                <tr>
                    <th><select-all-checkbox checkboxes="namesList"></select-all-checkbox></th>
                    <th ng-click="sort('name')">Name <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                    <th>Details</th>
                    <th>Geolocation</th>
                    <th>Suggested By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="entry in namesList|orderBy:sortKey:reverse|filter:search|itemsPerPage:50" total-items="namesListItems" current-page="pagination.current" on-last-repeat ng-class="entry.isSelected ? 'bg-info' : '' ">
                    <td><input type="checkbox" ng-model="entry.isSelected"></td>
                    <td><strong>{{entry.name}}</strong></td>
                    <td>{{entry.details}}</td>
                    <td>{{entry.geoLocation.place}}</td>
                    <td>{{entry.email}}</td>
                    <td><a class="btn btn-xs btn-success" ng-click="accept(entry)">Accept Name</a> <a class="btn btn-xs btn-default" ng-show="isAdmin" ng-click="delete(entry)">Delete</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr ng-hide="!namesList.length">
                    <td colspan="2"><select-all-checkbox checkboxes="namesList"></select-all-checkbox>  Select all suggested names</td>
                    <td colspan="4">Show <select ng-model="count" ng-options="n for n in [ 10, 20, 50, 100, 250, 500 ]" ng-change="fetch(pagination.current, count)"></select> names</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <dir-pagination-controls
                            max-size="12"
                            direction-links="true"
                            boundary-links="true"  on-page-change="fetch(newPageNumber)">
                        </dir-pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>

        <a ng-click="accept()" ng-hide="!namesList.length" class="btn btn-success btn-sm">Accept Selected</a> 
        <a ng-click="delete()" ng-hide="!namesList.length || !isAdmin" class="btn btn-default btn-sm">Delete Selected</a>
</div>