<div class="row">
  <div class="col-sm-8 col-sm-offset-2" ng-controller="SearchController">
  	
  	<div class="heading_a"><span class="heading_text">Find a Name Entry</span></div>
    
    <form ng-submit="exec_search()">
        <div class="input-group sepH_b">
            <input class="form-control input-lg" placeholder="Enter name" id="appendedInputButton" type="text" ng-model="search.entry" typeahead="entry.name for entry in names | filter:$viewValue | limitTo:8" keyboard>
            <span class="input-group-btn">
                <button class="btn btn-success btn-lg" ng-disabled="!search.entry" ng-click="exec_search()"><i class="fa fa-search"></i> Search</button>
            </span>
        </div>
    </form>
        
  </div>

  <div class="col-sm-8 col-sm-offset-2" ng-show="results.length">
      <h5>Showing {{results.length}} results for {{search.entry}}</h5>
      <p ng-repeat="entry in results"><a ui-sref="names.edit_entries({entry:entry.name})">{{entry.name}}</a> - {{entry.meaning}}</p>
  </div>

</div>