<div class="row etymology" ng-repeat="video in name.videos track by $index">
    <div class="col-sm-4">
        <label>URL</label>
        <input type="url" class="form-control" name="url[{{$index}}]" ng-model="video.url" required>
        <span ng-show="form.url[{{$index}}].$invalid && !form.url[{{$index}}].$pristine"
            class="help-block text-danger">A video URL is required</span>
    </div>
    <div class="col-sm-8">
        <label>Caption</label>
        <input type="text" class="form-control" name="caption[{{$index}}]" ng-model="video.caption">
    </div>
    <a class="btn btn-xs btn-danger remove" ng-click="remove_video($index)"><i class="fa fa-times"></i></a>
</div>